/*__________________________ PROPS FIRST (width, color, style, etc) */

html,body {
  margin: 0px;
  font-family: "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: black;

}

a , li{
  list-style: none;
  text-decoration: none;
  padding-bottom: 55px;
  padding-top: 55px;
  padding-right: 26%;
  margin-left: -3%;
  margin-top: -18px;
  text-align: center;
  font-size: 30px;
}

a:hover {
  list-style: none;
  text-transform: uppercase;

}

#bottom {
  width: 100%;
  height: 25px;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: lightgrey;
}

/* _________________________________________button + Resp. Nav. */

#nav-checkbox {
  display:none;
}

#nav-label {
  color: black;
  position:fixed;
  top:1;
  right:0;
  z-index: 2;
}

#nav-label::before {
  content:"OPEN";
}

#nav-checkbox:checked + label::before {
  content:"CLOSE";
  color: grey;
}

#main-nav {
  position:fixed;
  background-color: transparent;
  right:-100%;
  height:100%;
  width:100%;
  transition: right 0.5s;
}

#nav-checkbox:checked ~ #main-nav {
  left: 850px;
}

/*Definir pictos et nuancier de couleurs du menu */
#cell1{
  background-color: #000;
}
#cell1:hover{
  background-color: #111;
  transition-duration: 0.5s;
}
#cell2{
  background-color: #222;
}
#cell2:hover{
  background-color: #333;
  transition-duration: 0.5s;
}
#cell3{
  background-color: #444;
}
#cell3:hover{
  background-color: #555;
  transition-duration: 0.5s;
}
#cell4{
  background-color: #666;
}
#cell4:hover{
  background-color: #777;
  transition-duration: 0.5s;
}
#cell5{
  background-color: #888;
}
#cell5:hover{
  background-color: #999;
  transition-duration: 0.5s;
}



/* Banner background */

#banner {
  background-image:url('../img/jane-nanterre-reversed.jpg');
  width:100%;
  height: 97vh;
  background-size: cover;
  text-align:center;
  display:flex;
  justify-content: center;
  flex-direction:column;
}

#banner > h1 {
  color: white;

  text-transform: full-width;
  font-size:3em;
  margin:0px;
}

/* END BANNER */
